{% extends 'Miniblog/base.html' %}
{% load static %}

{% block content %}

  <h1 class='aboutHeading'>This is about page</h1>
  <p class="para">  Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis perspiciatis voluptatem blanditiis, inventore quae obcaecati impedit, iure harum, eaque accusantium doloremque quas sunt quod aliquam facere eius veniam ullam atque voluptates delectus assumenda? Id! and Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore molestiae earum nisi similique facilis quo esse illo repellat explicabo optio, numquam ab sequi vel corrupti deserunt ipsam excepturi officia praesentium.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic exercitationem, doloribus totam beatae impedit doloremque amet quod odio quisquam quo. Sint pariatur dignissimos quaerat, amet ad harum, sunt repellat ex velit excepturi natus hic.</p>
{% endblock content %}
